.App {
  text-align: center;
  background-color: aliceblue;
  padding: 30px;
}

.App-link {
  color: #61dafb;
}

.header {
  text-align: center;
  align-self: center;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.cardButton {
  text-align: center;
  align-self: center;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-top: 10px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.formButton {
  text-align: center;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.form {
  margin: 40px;
}
